<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Marker Clustering</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      img{
        width:100px;
        height:100px;
      }
    </style>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    
  </head>
  <body>
    <ul id="slide-out" class="side-nav">
      <li><p id='no'></p></li>
      <li><p id='title'></p></li>
      <img id='photo' />
      <p id='detail'></p>
    </ul>

    <div id="map"></div>
    <script>
    
      $(".button-collapse").sideNav();

      function initMap() {

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 13,
          center: {lat: 34.71, lng: 135.72}
        });

        // Create an array of alphabetical characters used to label the markers.
        var labels = [<% for story in @story %>
          "<%= story.title %>",
          <% end %>];
        var numbers = [<% for story in @story %>
          "<%= story.id %>",
          <% end %>];
        var details = [<% for story in @story %>
          "<%= story.detail %>",
          <% end %>];
        var photos = [<% for photo in @photo %>
          "<%= photo.url %>",
          <% end %>];
        // Add some markers to the map.
        // Note: The code uses the JavaScript Array.prototype.map() method to
        // create an array of markers based on a given "locations" array.
        // The map() method here has nothing to do with the Google Maps API.
        var markers = locations.map(function(location, i) {
          marker = new google.maps.Marker({
            position: location,
            label: labels[i % labels.length],
            // url: 'http://www.yaesu-book.co.jp/'
          });
          marker.addListener('click', function() {
            console.log(labels[i % labels.length]);
            map.setZoom(15);
            map.setCenter(location);
            console.log(document.getElementById('no'))
            document.getElementById('no').innerHTML = 'No' + numbers[i % labels.length];
            document.getElementById('title').innerHTML = labels[i % labels.length];
            document.getElementById('detail').innerHTML = details[i % labels.length];
            document.getElementById('photo').src = photos[i % labels.length];
            $('.button-collapse').sideNav('show');
          });
          
          return marker;
        });

        // Add a marker clusterer to manage the markers.
        var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
      }
      var locations = [<% for story in @story %>
         {lat: <%= story.lng %>, lng: <%= story.lat %>},
      <% end %>]
    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkEBfvIygzUzfO8kH28mtQes8e2bMzM48&callback=initMap">
    </script>
  </body>
</html>